@charset "UTF-8";

:root {
    --cor01: #004070;
    --cor02: #006BBD;
    --cor03: #49A9F2;
    --cor04: #003f70a8;
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor02), var(--cor03));
}

header {
    background-color: var(--cor04);
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
}

main {
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    border-top: 1px solid #ccc;
    padding-top: 2.5em;
}


#sobre h2 {
    text-align: center;
}

#biografia {
    width: 70vw;
    margin: auto;
    margin-bottom: 2.5em;
}

h3 {
    margin-bottom: 2.5em;
}

#sobre ul {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1.7em;
}

#sobre li {
    list-style: none;
    margin-right: 1em;

}

.projetos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contato {
    width: 60vw;
    margin: auto;
    margin-bottom: 2.5em;
    text-align: center;
}

#contato li {
    list-style: none;
    margin-bottom: 2em;
    margin-left: -1.9em;
    font-weight: bolder;
}

#contato a {
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

#contato li>#LinkedIn:hover {
    background: var(--cor02);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    box-shadow: 0px 0px 60px var(--cor02);
}

#contato li>#GitHub:hover {
    background: #008000;
    background: linear-gradient(270deg, #4b4b4b  0%, #2b2a2a 60%);
    box-shadow: 0px 0px 60px #000;
}

#contato li>#WhatsAPP:hover {
    background: #008000;
    background: linear-gradient(270deg, #003b00  0%, #008000 60%);
    box-shadow: 0px 0px 60px #008000;
}



footer {
    margin-top: 1em;
    background-color: var(--cor03);
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.74);
}


.container_projetos {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    padding: 2em;
    margin: 5em -10em;
   
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .container_projetos:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em #ffffff80;
    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background-image: linear-gradient(160deg, var(--cor02) 0%, var(--cor03) 100%);
  }
  
  .backSide,
  .backSide::before {
    
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }

  .container_projetos a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    padding: 1em 2.5em;
    border: none;
    outline: none;
    border-radius: 0.4em;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: #eaeaea;
    transition: 0.6s;
    -webkit-box-reflect: below 9px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    margin: 2em auto;
    scale: 0.92;
  }

  .container_projetos a:hover {
    background: #021d4e;
    background: linear-gradient(270deg, #021d4eae 0%, #1fd7e8df 60%);
    box-shadow: 0px 0px 10px #1f4c65;
  }

  .card {
    position: relative;
    width: 200px;
    height: 200px;
    background: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
  }
  
  .background {
    position: absolute;
    inset: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, var(--cor01) 0%, var(--cor02) 46%, var(--cor03) 100%);
    
  }
  
  .logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 3px;
  }
  
  .logo .logo-svg {
    fill: white;
    width: 30px;
    height: 30px;
  }
  
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .icon .svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
  }
  
  .box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .box:hover .svg {
    fill: white;
  }
  
  .box1 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
  }
  
  .box1::before {
    background: radial-gradient(circle at 30% 107%, #34B7F1 0%, #128C7E 5%, #075E54 60%, #25D366 90%);
  }
  
  .box1:hover::before {
    opacity: 1;
  }
  
  .box1:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box2 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.2s;
  }
  
  .box2::before {
    background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
  }
  
  .box2:hover::before {
    opacity: 1;
  }
  
  .box2:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box3 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.4s;
  }
  
  .box3::before {
    background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
  }
  
  .box3:hover::before {
    opacity: 1;
  }
  
  .box3:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box4 {
    width: 10%;
    height: 10%;
    bottom: -10%;
    left: -10%;
    transition-delay: 0.6s;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card:hover .box {
    bottom: -1px;
    left: -1px;
  }
  
  .card:hover .logo {
    transform: translate(70px, -52px);
    letter-spacing: 0px;
  }
  